[Unit]
Description=Apache Tomcat Web Application Container INSTANCE
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/INSTANCE
ExecStartPre=/bin/echo "Demarrage de INSTANCE"
ExecStart=/usr/share/tomcat8/bin/startup.sh
ExecStop=/usr/share/tomcat8/bin/shutdown.sh
ExecStopPost=/bin/echo "Arret de INSTANCE"
Restart=no
StandardOutput=inherit
StandardError=inherit
SyslogIdentifier=INSTANCE
User=tomcat8
Group=tomcat8

[Install]
WantedBy=multi-user.target