Package: tomcat8-instance-8.0.28
Version: 1.0.1
Section: base
Priority: optional
Architecture: all
Depends: bash
Maintainer: Mr S HEURTEMATTE <sebastien.heurtematte@diplomatie.gouv.fr>
Description: Création d'instance tomcat8
